async-timeout==4.0.2
atoma==0.0.17
attrs==22.1.0
beautifulsoup4==4.11.1
brotlipy==0.7.0
certifi
cffi
charset-normalizer
cryptography
defusedxml==0.7.1
Deprecated==1.2.13
idna
importlib-metadata==4.12.0
kafka-python==2.0.2
packaging==21.3
pycparser
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil==2.8.2
redis==4.3.4
requests
six==1.16.0
soupsieve==2.3.2.post1
typing_extensions==4.3.0
urllib3
win-inet-pton
wincertstore==0.2
wrapt==1.14.1
zipp==3.8.1
